@import "~tiny-slider/src/tiny-slider";
@import "plyr/dist/plyr.css";
@import "~prismjs/themes/prism";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~aos/dist/aos.css";
@import "~nouislider/dist/nouislider";
